#########################################
###      snip configuration file      ###
#########################################

# default path for screenshots
export SNIP_PATH="$HOME/pictures/scrot"

# default path for screencasts
export SNIP_PATH_SCAST="$HOME/pictures/scast"

# default filename
#export SNIP_FILENAME="$(date '+%Y-%m-%d-%H%M%S')_"'$wx$h_'"$(hostname)-${USER}_snip"

# default image file format
#export SNIP_IMG_FILE=png

# default video file format
#export SNIP_VID_FILE=mp4

# default time delay before capture (in seconds)
#export SNIP_DELAY=0

# default command to execute after capture
#export SNIP_CMD="optipng \"%DEST%\" &"

# default tmp dir
#export SNIP_TMP_DIR=/tmp

# can be either 'true' or 'false'
#export SNIP_DEFAULT_FULLSCREEN=true

# either 0 or 1
#export SNIP_DEFAULT_VERBOSITY=1
